header 
    .wrapper
        nav.main-menu
            ul 
                li
                    a(href="/src/programms.html") О страховании
                li
                    a(href="/src/music.html") Цена страховки
                li
                    a(href="/src/photo.html") Рассылка
                li
                    a(href="/src/podcast.html") Условия страховки
                li
                    a(href="/src/index.html") О нас