doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title photo
        style 
            include styles/style.scss 
    body 
        include modules/header

        .forma 
            .wrapper
                h1 Подписаться на новостную рассылку
                form(action="")
                    .email
                        input(type="email" placeholder="   Email")
                    .submit
                        input(type="submit", value="Отправить")