doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title programms
        style 
            include styles/style.scss 
    body 
        include modules/header

        .wrapper
                .about
                    h1 Страхование может быть честным, полезным и выгодным
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, est. Error commodi laboriosam minima. Expedita nesciunt quasi iure odit a, voluptatem vel distinctio consequatur ipsam obcaecati temporibus consequuntur itaque enim maiores laudantium fuga, autem nulla!
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius consequuntur delectus quis deleniti. Iure cumque deserunt nihil similique, ab inventore? Officia similique aliquid sint, quae quidem autem! Incidunt aliquid, asperiores dolore eius magnam fuga ex.
                    h2 Если наступил страховой случай , расскажем как действовать
                    ol 
                        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod facere nobis corporis!
                        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sunt cumque ipsam esse laudantium!
                        li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, sint!